@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@300;400;500;700;800;900&display=swap");

html,
body {
  @apply w-full h-screen;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
  transform-origin: 0% 25%;
}

.page-enter-from,
.page-leave-to {
  transform-origin: 0% 75%;
  opacity: 0;
  filter: blur(1rem);
  transform: translateY(20px);
}
